#curtainleft{
    border: 1px solid darkred;
    width: 120px;
    height: 250px;
    background-color: darkred;
    border-bottom-right-radius: 50%;
    box-shadow: 5px 5px 5px 1px black;

}

#smallcurtainleft{
background-color: darkred;
box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
width: 100px;
height: 220px;
border-bottom-right-radius: 50%;
}
#anothersmallcurtainleft
{
    background-color: darkred;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    width: 80px;
    height: 150px;
    border-bottom-right-radius: 50%;
}

#leftbuckle{
    box-shadow: 3px -2px 3px 2px  beige;
    width: 75px;
    height: 20px;
    background-color: darkred;
    border-top-right-radius:20px ;
    border-bottom-right-radius:20px;
}
#astrikLeft{
    justify-items:center ;
    float: right;
    font-size: 1.25rem;   
    font-weight: bolder;
    color: goldenrod;
}

#smallpartleft{
    box-shadow: 2px 2px 2px 2px black;
    width: 70px;
    height: 70px;
    background-color: darkred;
    border-top-right-radius:20px ;
    border-bottom-right-radius:20px;
}

#leftShade
{
    width: 60px;
    height: 60px;
    background-color: darkred;
    border-top-right-radius:20px ;
    border-bottom-right-radius:20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#smallerLeftShade{
    width: 40px;
    height: 40px;
    background-color: inherit;
    border-top-right-radius:10px ;
    border-bottom-right-radius:15px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);

}