/* main css style page */
@import url(/FirsTest/styles/leftCurtain.css);
@import url(/FirsTest/styles/rightCurtain.css);




*{
    box-sizing: border-box;
    margin:0;
}

#headlights{
    width: 20px;
    height: 20px;
    background-color: darkgoldenrod;
    border: double grey;
    border-radius: 50%;
    box-shadow: 1rem 1rem 1rem 1rem tan;
}

.contains{
    display: grid;
    grid-template-areas:
    "header header header"
    "header header header"
    "header header header"
    " main  main  main  "
    " main  main  main  "
    " main  main  main  "
        ". aside ."
    "footer footer footer" ;
}

header
{
    grid-area: header;
    background: gainsboro;
    padding: 10px;
    display: inline-flex;
    gap: 35px;
}

main{
    
    grid-area: main;
    background-color: rgba(0, 0, 0, 0.623);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1;
    

}


aside{
    /* width: 50vh; */
    grid-area: aside;
    background-color:thistle;
}

footer{
    grid-area: footer;
    background-color: powderblue;
}

