/* main css style page */
@import url(/FirsTest/styles/leftCurtain.css);
@import url(/FirsTest/styles/rightCurtain.css);
@import url(/FirsTest/styles/animation.css);


body{
    height: 100vh ;
}

*{
    box-sizing: border-box;
    margin:0;
}

#headlights{
    width: 20px;
    height: 20px;
    background-color: darkgoldenrod;
    border: double grey;
    border-radius: 50%;
    box-shadow: 1rem 1rem 1rem 1rem tan;

    /* animation: glow duration timing-function delay iteration-count direction fill-mode; */

}


header #headlights:nth-child(2n+1){
    animation: glowOddLeft 5s ease-in  infinite 
} 

header #headlights:nth-child(2n+7){
    animation: glowOddRight 5s ease-in  infinite 
}


header #headlights:nth-child(2n){
    animation: glowEvenLeft 5s ease-in  infinite 
} 

header #headlights:nth-child(2n+6){
    animation: glowEvenRight 5s ease-in  infinite 
}






header #headlights:nth-child(n+6){
    box-shadow: -1rem 1rem 1rem 1rem tan;

}
.contains{
    display: grid;
    /* row-gap: 1rem ; */
    grid-template-areas:
    "header header header"
    " main  main  main  "
    " main  main  main  "
    " main  main  main  "
        ". aside ."
    "footer footer footer" ;
}

header
{
    grid-area: header;
    background: gainsboro;
    padding: 5px;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    place-items:center;
    }

main{
    position: relative;
    /* overflow: hidden; */
    grid-area: main;
    background-color: rgba(0, 0, 0, 0);
    display: grid;
    grid-template-columns: 1fr 8fr 1fr ;
    grid-template-rows: 1fr;

}


aside{
    grid-area: aside;
    background-color:thistle;
}

footer{

    grid-area: footer;
    background-color: powderblue;
    
}

#upDown{
    position:absolute;
    text-align: center;
    z-index: -1;
    width: 100%;
    background-color: red;
    overflow: hidden;
    animation: movCurtain 3s linear 3s  infinite alternate;
}