/* right curtain */

.rightcurtain{
    display: flex;
    flex-direction: column;
   justify-content:center;
   align-items: end;
    
}

#curtainright{
    border: 1px solid darkred;
    width: 120px;
    height: 250px;
    background-color: darkred;
    border-bottom-left-radius: 50%;
    box-shadow: -5px 5px 5px 1px black;

}
#smallcurtainright{
    float: right;
    background-color:darkred;
    box-shadow: -5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    width: 100px;
    height: 220px;
    border-bottom-left-radius: 50%;
    }
    #anotherSmallCurtainRight
    {
        float: right;
        background-color: darkred;
        box-shadow: -5px 5px 5px 0.7rem rgba(0, 0, 0, 0.2);
        width: 80px;
        height: 150px;
        border-bottom-left-radius: 50%;
    }
    
    #rightBuckle{
        
        box-shadow: -1px 0 3px 2px beige;
        width: 75px;
        height: 20px;
        background-color: darkred;
        border-top-left-radius:20px ;
        border-bottom-left-radius:20px;
    }
    #astrikRight{
            justify-items:center ;
            float: right;
            font-size: 1.25rem;   
            font-weight: bolder;
            color: goldenrod;
        
    }
    
    #smallPartRight{
        justify-self: flex-end;
        box-shadow: -2px 2px 2px 2px black;
        width: 70px;
        height: 70px;
        background-color: darkred;
        border-top-left-radius:20px ;
        border-bottom-left-radius:20px;
    }
    #rightShade
    {
        float: right;
        width: 60px;
        height: 60px;
        background-color: darkred;
        border-top-left-radius:20px ;
        border-bottom-left-radius:20px;
        box-shadow: 3px -5px 5px 5px rgba(0, 0, 0, 0.2);

    }
    
    #smallerRightShade{
        float: right;

        width: 40px;
        height: 40px;
        background-color: inherit;
        border-top-left-radius:10px ;
        border-bottom-left-radius:15px;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.329);
    
    }